# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
healthpoints/src/healthpoints/settings_local.py
healthpoints/public/static
healthpoints/public/media
healthpoints/logs
.sass-cache/
celerybeat-schedule

