{% load staticfiles i18n %}{% load tracks_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"  href="favicon.png">
    <title>HealthPoint</title>
    <meta name="description" content="Running,jogging">
    <meta name="keywords" content="run,health,healthponts">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/touch/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/touch/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/touch/apple-touch-icon-144x144.png">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <link rel="stylesheet" href="{% static "stylesheets/normalize.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets/screen.css" %}">

    <link rel="stylesheet" href="{% static "bower_components/jqueryui/themes/sunny/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/typicons.font/src/font/typicons.css" %}">

    <!--[if lt IE 9]>
        <script src="{% static 'frontend/bower_components/html5shiv/dist/html5shiv.js' %}"></script>
        <script src="{% static 'frontend/bower_components/respond/src/respond.js' %}"></script>
    <![endif]-->
</head>
<body class="no-js">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&appId=585291311604534&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="main">

    <section class="promo">
      <div class="brick-row">
        <div class="panel-box">

          <div class="brick-row">
          <div class="brick-large-12 brick-medium-12 brick-small-12 brick-columns">
            <div class="brick-row">
              <div class="brick-large-8 brick-medium-8 brick-small-8 brick-columns">
                <h2 class="main-title">
                  <span>Transform</span> <em></em>
                </h2>
                <h2 class="main-subtitle">
                  to <span>health</span>
                </h2>
                <div><h3 class="sub-title">Run every day and add more years to your life</h3></div>
                <h4 class="title">Save your activity, share and find friends</h4>
                {% if not request.user.is_authenticated %}
                  <div class="btn-wrapper">
                    <a href="{% url 'social:begin' "facebook" %}" class="btn">
                      <span class="typcn typcn-social-facebook"></span>
                      {% trans "login facebook" %}
                    </a>
                  </div>
                {% endif %}
                <div class="fb-like" data-href="http://healthpoints.dev.dizhak.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>

    <section class="project-description">
      <div class="brick-row">
        <div class="panel-box">

        <div class="brick-row">
          <div class="brick-large-12 brick-medium-12 brick-small-12 brick-columns">
            <h1 class="title">HealthPoints <span class="typcn typcn-heart-outline"></span></h1>
            <p class="desc">Are you a runner? Or at least run once a week? Or maybe you like to share your achievements in facebook or other social network for cheering and likes. With HealthPoints you will turn your emotional satisfaction from your running workout into health stories and inspiring messages for your friends. Moreover, remove vendor lock from storing you data and sync it to evernote notebook.</p>
          </div>
        </div>

        </div>
      </div>
    </section>

    <section class="project-description">
      <div class="brick-row">
        <div class="panel-box">

        <div class="brick-row">
          <div class="brick-large-12 brick-medium-12 brick-small-12 brick-columns">
            <h1 class="title"><a href="{% url 'demo' %}">{% trans "DEMO PROFILE" %}</a></h1>

          </div>
        </div>

        </div>
      </div>
    </section>


 {% if request.user.is_authenticated %}
    <section class="strava">
      <div class="brick-row">
        <div class="panel-box">

        <div class="brick-row">
          <div class="brick-large-12 brick-medium-12 brick-small-12 brick-columns">
            <div class="btn-wrapper">
              <a href="{% url 'social:begin' "strava" %}" class="btn-strava">
                {% trans "sync your data from strava" %}
              </a>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>
 {% endif %}
 {% if not request.user.is_authenticated %}
    <section class="goals">
      <div class="brick-row">
        <div class="panel-box">

          <div class="brick-row">
              <div class="brick-large-3 brick-medium-3 brick-small-12 brick-columns">
                  <div class="icon-title"><span class="typcn typcn-location-outline"></span></div>
                  <h5 class="title">
                    Activities
                  </h5>
                  <p class="desc">We fetch your trainings from different resources (e.g. <a href="http://strava.com">strava.com</a>) to build you HealthPoints</p>
              </div>
              <div class="brick-large-3 brick-medium-3 brick-small-12 brick-columns">
                <div class="icon-title"><span class="typcn typcn-heart-outline"></span></div>
                <h5 class="title">
                  Health
                </h5>
                <p class="desc">Running is great for your health. It helps you get skinnier and burns calories while you're working out. If you're about to be healthy and happy person become a part of our community.
                </p>
              </div>
              <div class="brick-large-3 brick-medium-3 brick-small-12 brick-columns">
                <div class="icon-title"><span class="typcn typcn-export-outline"></span></div>
                <h5 class="title">
                 Share
                </h5>
                <p class="desc"> You can share your running activity in facebook and store at evernote. <br>
                  You can find friends who loves it.</p>
              </div>
              <div class="brick-large-3 brick-medium-3 brick-small-12 brick-columns">
                <div class="icon-title"><span class="typcn typcn-arrow-sync"></span></div>
                <h5 class="title">
                   Analyse
                </h5>
                <p class="desc">We store and analyse your data for good and great... :)</p>
              </div>
          </div>

        </div>
      </div>
    </section>
 {% endif %}
{% if request.user.is_authenticated %}
    <section class="metrics">
      <div class="brick-row">
        <div class="panel-box">
          <div class="brick-row">
            {% render_profile_block request.user %}
            <div class="metrics-data">
                <div class="brick-row">
                      <div class="brick-large-8 brick-medium-8 brick-small-12 brick-columns">
                        <div class="health-point">

                          <h3 class="title">You have <span class="num">{{ health_points }}</span> <span class="typcn typcn-heart-outline"></span> HealthPoints </h3>

                        </div>
                        <div class="brick-row">
                          <div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">
                            <div class="data1">{{ stats.total_distance|floatformat:"0" }} {% trans "km" %}</div>
                            <div class="data2">{% trans "total distance" %}</div>
                          </div>
                          <div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">
                            <div class="data1">{{ stats.total_activities }}</div>
                            <div class="data2">{% trans "total activities" %}</div>
                          </div>
                          <div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">
                            <div class="data1">{{ stats.elevation_gain|floatformat:"0" }} {% trans "km" %}</div>
                            <div class="data2">{% trans "elevation gain" %}</div>
                          </div>
                          <div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">
                            <div class="data1">{{ stats.total_calories|default:"N/A" }} {% trans "cal" %}</div>
                            <div class="data2">{% trans "calories" %}</div>
                          </div>
                          <div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">
                            <div class="data1">>{{ stats.total_moving_time.days }} {% trans "days" %}</div>
                            <div class="data2">{% trans "moving time" %}</div>
                          </div>
                          <div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">
                            <div class="data1">{{ stats.total_likes }}</div>
                            <div class="data2">{% trans "likes" %}</div>
                          </div>
                          <!--<div class="brick-large-4 brick-medium-4 brick-small-6 brick-columns">-->
                            <!--<div class="data1">123 km</div>-->
                            <!--<div class="data2">some distance</div>-->
                          <!--</div>-->
                        </div>
                      </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="support-team">
      <div class="brick-row">
        <div class="panel-box">

          <div class="brick-row">
            <h3 class="title"><span class="typcn typcn-group"></span>{% trans "These are people who supported you" %}</h3>
            {% for member in support_team %}
               <div class="brick-large-4 brick-medium-4 brick-small-12 brick-columns">

                 <div class="item">
                     <div class="brick-large-4 brick-medium-4 brick-small-12 brick-columns">
                       <a class="support-team-photo" href="#">
                         <img alt="" src="{{ member.user_picture_url }}">
                         <div class="circle"></div>
                        </a>
                        <div class="first-name">{{ member.username }}</div>
                      </div>
                      <div class="brick-large-8 brick-medium-8 brick-small-12 brick-columns">
                        <div class="comment-title">{{ member.get_activity_type_display }} <span class="typcn typcn-messages"></span></div>
                        <p class="comment-desc">{{ member.comment|default:"" }}</p>
                       </div>
                 </div>
               </div>
            {% endfor %}

               <!--end comment list-->
            </div>

        </div>
      </div>
    </section>

    <section class="list-evernote">
      <div class="brick-row">
        <div class="panel-box">
          <div class="brick-row">
            <h3 class="title">{% trans "Your running activity" %}</h3>
            {% for activity in activities %}
             <div class="item">
                <div class="brick-large-3 brick-medium-3 brick-small-3 brick-columns">
                    <div class="name">
                      <span class="typcn typcn-location"></span>
                      {{ activity.location }}
                    </div>
                </div>
                <div class="brick-large-2 brick-medium-2 brick-small-2 brick-columns">
                    <div class="distance">
                       {{ activity.formated_distance|floatformat:"2" }} {% trans "km" %}
                     </div>
                </div>
                <div class="brick-large-2 brick-medium-2 brick-small-2 brick-columns">
                  <div class="data">
                    {{ activity.start_date }}
                  </div>
                </div>
                <div class="brick-large-5 brick-medium-5 brick-small-12 brick-columns">
                  <div class="num-likes">
                    <!--<span>likes</span>-->
                    <span class="typcn typcn-heart-full-outline"></span>
                    <span class="num">{{ activity.likes.count }}</span>
                  </div>
                  <div class="num-comments">
                    <!--<span>comments</span>-->
                    <span class="typcn typcn-message"></span>
                    <span class="num">{{ activity.comments.count }}</span>
                  </div>
                {% if activity.fb_id %}
                  <a href="#" class="btn-f-link">
                    <span class="typcn typcn-social-facebook"></span>
                    <span>{% trans "link" %}</span>
                  </a>
                {% else %}
                  <a href="javascript:;" data-id="{{ activity.id }}" class="btn-f-share">
                    <span class="typcn typcn-social-facebook"></span>
                    <span>{% trans "share" %}</span>
                  </a>
                {% endif %}

                  {% if activity.note_id %}
                    <a href="{{ activity.note_url }}" target="_blank"  class="btn-ev-link">
                      <span>{% trans "link" %}</span>
                    </a>
                  {% else %}
                    <a data-id="{{ activity.id }}" href="javascript:;" class="btn-ev-share">
                      <span>{% trans "share" %}</span>
                    </a>
                  {% endif %}
                </div>
            </div>
            {% endfor %}


          </div>
        </div>
      </div>
    </section>


    <!--<section class="promo">
      <div class="brick-row">
        <div class="panel-box">
          <div class="brick-row">
            <div class="brick-large-6 brick-medium-6 brick-small-12 brick-columns">
                <a href="#" class="main-image">
                  <img src="" alt="">
                  <div class="first-name">Name</div>
                  <div class="second-name">Second Name</div>
                </a>
            </div>
            <div class="brick-large-6 brick-medium-6 brick-small-12 brick-columns">
              <div class="">
                <button class="login">
                  login faceebook
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>-->

   <section class="profile">
     <div class="brick-row">
       <div class="panel-box">
          <h3 class="title">What is your running level?</h3>
         <form action="./" class="profile-form">
           <!--2 columns-->
           <div class="brick-row">
             <div class="brick-large-6 brick-medium-6 brick-small-12 brick-columns">
               <div class="field">
                 <input type="text" placeholder="How many distance of 5km you finished?" class="input-field">
                 <div class="label-field">5km</div>
               </div>
             </div>
             <div class="brick-large-6 brick-medium-6 brick-small-12 brick-columns">
               <div class="field">
                 <input type="text" placeholder="10km" class="input-field">
                 <div class="label-field">10km</div>
               </div>
             </div>
           </div>
           <div class="brick-row">
             <div class="brick-large-6 brick-medium-6 brick-small-12 brick-columns">
               <div class="field">
                 <input type="text" placeholder="21km" class="input-field">
                 <div class="label-field">21km</div>
               </div>
             </div>
             <div class="brick-large-6 brick-medium-6 brick-small-12 brick-columns">
               <div class="field">
                 <input type="text" placeholder="Marathon" class="input-field">
                 <div class="label-field">Marathon</div>
               </div>
             </div>
           </div>
           <!--2 columns-->
           <div class="brick-large-12 brick-medium-12 brick-small-12 brick-columns">
             <div class="level field">
               <h3 class="sub-title">How many days per week are you running?</h3>
               <div class="slider-level-wrap">
                 <select id="level-definition">
                   <option value="0">Congratulations! You're a beginning jogger</option>
                   <option value="1">Common guy! You can do it more than once a week</option>
                   <option value="2">Try to run more</option>
                   <option value="3">Cool! Four days in week!</option>
                   <option value="4">Strong man. I'm proud of you</option>
                   <option value="5">Are you professional sportsman? No?</option>
                   <option value="6">Realy? You are Ironman</option>
                 </select>
                 <div id="slider-level">
                   <div class="steps">
                     <span class="step1">1 Day</span>
                     <span class="step2">2 Day</span>
                     <span class="step3">3 Days</span>
                     <span class="step4">4 Days</span>
                     <span class="step5">5 Days</span>
                     <span class="step6">6 Days</span>
                     <span class="step7">7 Days</span>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="brick-large-12 brick-medium-12 brick-small-12 brick-columns">
             <div class="field button-wrap">
               <input type="submit" value="save" class="btn btn-save">
             </div>
           </div>
         </form>
       </div>
     </div>
   </section>

      <div class="hackzurich">
        <div class="brick-row">
          <div class="panel-box">
            <div class="item">
              <h5 class="title"><a href="http://hackzurich.com/14">HackZurich</a></h5>
              <span>10-12 October 2014</span>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="brick-row">
          <div class="panel-box">
            <div class="item">
              <a href="https://github.com/rootart" class="photo">
                <img src="{% static "upload/vasyl.png" %}" alt="">
                <div class="first-name">Vasyl Dizhak</div>
              </a>
              <a href="https://github.com/julia-shcherbina" class="photo">
                <img src="{% static "upload/julia.jpg" %}" alt="">
                <div class="first-name">Julia Dizhak</div>
              </a>
            </div>
          </div>
        </div>
      </footer>
{% endif %}
   </div>

   <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
   <script src="{% static "bower_components/jqueryui/jquery-ui.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
