//color: #979b91;
//color: rgb(52, 152, 219);
//color: rgb(52, 152, 219);

 //background: none repeat scroll 0 0 #10bbf1;


.promo {
  //background: url('../upload/bg.jpg') no-repeat scroll 50% 50% / cover #fff;
  //background-image: url('../upload/bg.jpg');
  background: url('../upload/nogibogi-3506-blur.jpg') no-repeat scroll 50% 50% / cover #fff;
 //-webkit-filter: blur(1px);
   //-moz-filter: blur(1px);
   //-o-filter: blur(1px);
   //-ms-filter: blur(1px);
   //filter: blur(1px);

  height: 485px;
  position: relative;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  text-align: left;

  .main-title {
    display: inline-block;
    vertical-align: top;
    //font-size: 20px;
    font-size: 60px;
        font-weight: 500;
        line-height: 60px;
         background: none repeat scroll 0 0 rgba(#000, 0.25);
         padding: 0 1rem 0 1rem;
         //text-transform: uppercase;


         //color: #a7a0a2;
         color: #fff;
        span {
          text-transform: uppercase;
          font-family: 'AvenirHeavy';
        }
        /*div {
          text-align: right;
        }*/
        em {
          //color: #3b5998;
          //text-shadow: 0px 0px 2px #fff;
           background: url('../upload/facebook-like.png') left top no-repeat;

           display: inline-block;
               height: 50px;
               margin-top: 2px;
               //padding-left: 60px;

               vertical-align: top;
               width: 58px;
        }
  }
  .main-subtitle {
     color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 56px;
        font-weight: 500;
        line-height: 60px;
         background: none repeat scroll 0 0 rgba(#000, 0.25);
         padding: 0 1rem 0 1rem;
         span {
           text-transform: uppercase;
           font-family: 'AvenirHeavy';
         }
  }
  .sub-title {
    font-size: 26px;
    line-height: 36px;
    //background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    vertical-align: top;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: bold;
  }
  .title {
    //background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.55);
    color: white;
        font-size: 17px;
        font-weight: bold;
        line-height: 24px;
        padding: 12px 0 0;
        display: inline-block;
        vertical-align: top;
          padding: .5rem 1rem 1rem;
          width: 70%;
  }

  .btn-wrapper {
    //width: 50%;
    padding: 3rem 0 .5rem;
    //background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);

  }
  .btn {
    padding: 10px 45px;
    transition: all 0.1s linear 0s;
    //box-shadow: 0 5px 0 #006599;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.82);
    background: #3b5998;
    border: none;
    &:active {
      //box-shadow: 0 2px 0 #006599;
      //box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);

      transform: translateY(3px);
    }
    &:hover {
      background: #3b5998;
    }
    .typcn-social-facebook {
      &:before {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1;
      }
    }
  }
}
.btn-facebook {
  background: #3b5998;
  &:hover {
    background: #3b5998;
  }
}
/*.first-name {
 color: #a7a0a2;
}
.second-name {
 color: #a7a0a2;
}*/


.profile {
  padding: 0 0 2rem 0;
  //background: rgb(26, 188, 156);
  //background: rgb(52, 152, 219);
  //background: #7FDBFF;
  //background: none repeat scroll 0 0 #ddd;
  .title {
    color: #a7a0a2;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        text-shadow: 0px 0px 1px #fff;
        position: relative;
        padding-left: 1.8rem;
            padding-right: 0.9375rem;
            margin: 0 0 .5rem 0;
        &:before {
          position:absolute;
          content: '';
          left: 0;
          top: 7px;
          content: 0;
          border-top: 12px solid rgba(0, 0, 0, 0);
          border-bottom: 12px solid rgba(0, 0, 0, 0);
          border-left: 18px solid #10bbf1;
          transform: scale(1.01,1.01);
        }
  }
  .sub-title {
    text-align: left;
    color: #a7a0a2;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        text-shadow: 0px 0px 1px #fff;
            margin: 0 0 .5rem 0;
  }
}
.main-form {
  //padding: 1.25rem;
  background: #fff;
  .field {
    margin: 0 0 1.25rem 0;
  }

}
.profile-form {
  .field {
    padding: 0 0 1.25rem 0;
  }
  .label-field {
    //font-size: 20px;
    text-align: center;
    margin: .5rem 0 0 0;
  }
  .button-wrap {
    .btn-save {
      width: 20%;
      display: block;
      margin: auto;
    }
  }
}
.level {
  text-align: center;
}
.slider-level-wrap {
  position: relative;
  padding: .5rem 0 2.5rem 0;
  .ui-slider-horizontal {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #40c9f4;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    //border: 1px solid rgb(211, 211, 211);
  }
  .ui-widget-content {
     background: none repeat scroll 0 0 #40c9f4;
     background: -webkit-linear-gradient(left, #fff, #40c9f4);
     background: -moz-linear-gradient(left, #fff, #40c9f4);
     //background: -moz-linear-gradient(left, #40c9f4, #10bbf1);
     background: linear-gradient(top, #fff, #40c9f4);
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    //background: none repeat scroll 0 0 #10bbf1;
    background: #fff;
    //border: 1px solid rgb(217, 217, 217);
    border: 1px solid #40c9f4;
    box-shadow: inset 0 0 1px rgb(255, 255, 255),inset 0 1px 7px rgb(235, 235, 235),0 3px 6px -3px rgb(187, 187, 187);
  }
  .ui-widget-header {
    background: none repeat scroll 0 0 #40c9f4;
    border-radius: 5px 0 0 5px;
  }
  .ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.9em;
  }
  .ui-slider .ui-slider-handle {
    height: 1.6em;
    width: 1.8em;
    border-radius: 5px;
    &:before {
      position: absolute;
      left: 43%;
      top: 13%;
      content: '';
      width: 1px;
      height: 70%;
      background: #ccc;
    }
    &:after {
      position: absolute;
      left: 55%;
      top: 13%;
      content: '';
      width: 1px;
      height: 70%;
      background: #ccc;
    }
  }
  .steps {
    margin: 2rem 0 0 0;
    position: relative;
    span {
      position: absolute;
      font-size: 12px;
      width: 5%;
      display: inline-block;
      vertical-align: top;
      margin-left: -2.5%;
      text-align:left;
      color: #a7a0a2;
      text-align: center;
      &:before {
        position: absolute;
        left: 49%;
        top: -11px;
        content: '';
        width: 1px;
        height: 10px;
        background: #a7a0a2;
      }
    }
    .step1 {
      left: 0;
    }
    .step2 {
      left: 16.6667%;
    }
    .step3 {
      left: 33.3333%;
    }
    .step4 {
      left: 50%;
    }
    .step5 {
      left: 66.6667%;
    }
    .step6 {
      left: 83.3333%;
    }
    .step7 {
      left: 100%;
    }
  }
}
#level-definition {
  width: 40%;
  margin: 0 0 1.5rem 0;
}

.input-field {
  //width: 100%;
  //background: #ddd;
  //box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  //padding: 8px 10px;
  //box-sizing: border-box;
  //border: none;
  //@include placeholder;

  background: none repeat scroll 0 0 white;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 15px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
  width: 100%;
  //font-size: 20px;
  &:focus {
    border-color: #aeaeae;
  }
  //  @include input-placeholder(red);
}

.btn {
  //background: none repeat scroll 0 0 #10bbf1;
  //color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  background: none repeat scroll 0 0 #10bbf1;
      border: 2px solid #10bbf1;
      border-radius: 5px;
      box-sizing: border-box;
      color: white;
      font-size: 20px;

      padding: 10px 15px;
      transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
      &:hover {
        background: none repeat scroll 0 0 #40c9f4;
            border-color: #40c9f4;
            color: #fff;
      }
}
.btn-save {
  box-shadow: 0 5px 0 #006599;
   transition: all 0.1s linear 0s;
  &:active {
    transform: translateY(3px);
  }
}

.metrics {
  .main-image {
    width: 100%;
    height: 280px;
    //padding: 1.25rem;
    background: #fff;
    display: block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    text-align: center;
    img {
      //padding: 1.25rem;
      margin: 1.25rem;
      border-radius: 50%;
      //width: 100px;
      //height: 100px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #a7a0a2;
      max-width: 160px;
    }
    .typcn-location {
      margin: 0 .2rem 0 0;
      &:before {
        color:#20c05c;
        font-size: 1.5rem;
        text-shadow: 1px 1px 1px #222;
      }
      &:hover {
        &:before {
          color:#24d665;
        }
      }
    }
  }
  .first-name {
    padding: 0 0 .5rem 0;
    font-weight: bold;
    color: #10bbf1;
  }
  .location {
    color: #a7a0a2;
  }
}
.metrics-data {
  text-align: center;
  .brick-row {
    padding: 1.25rem 0 0 0;
    .brick-large-8 {
      &:last-child {
        .brick-row {
          border-bottom: 0;
        }
      }
      .brick-row {
        padding: 0 0 2rem 0;
        //margin: 0 0 2rem 0;
        border-bottom: 1px solid #ccc;
      }
      .brick-columns {
        margin: 1.25rem 0;
        border-right: 1px solid #ccc;
        &:last-child {
          border-right: 0;
        }
        &:nth-child(3n) {
          border-right: 0;
        }
      }
    }
  }
  .data1 {
    font-size: 24px;
    font-weight: bold;
    padding: .5rem 0;
  }
  .data2 {
    font-size: 16px;
    color: #a7a0a2;
    padding: 0 0 .5rem 0;
  }
}
.health-point {
  //text-align: left;
  padding: 3.5rem 0 1.25rem 0;
  .typcn-heart-outline {
    display: inline-block;
    vertical-align: middle;
    &:before {
      color: #e0393e;
      font-size: 2rem;
      height: auto;
      text-shadow: 1px 1px 1px #222;
    }
  }
  .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
  }
  .num {
    display: inline-block;
    vertical-align: middle;
    color: #a7a0a2;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.list-evernote {
  .title {
    color: #a7a0a2;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        text-shadow: 0px 0px 1px #fff;
        position: relative;
        padding-left: 1.8rem;
            padding-right: 0.9375rem;
            position: relative;
        &:before {
          position:absolute;
          content: '';
          left: 0;
          top: 7px;
          content: 0;
          border-top: 12px solid rgba(0, 0, 0, 0);
          border-bottom: 12px solid rgba(0, 0, 0, 0);
          border-left: 18px solid #10bbf1;
          transform: scale(1.01,1.01);
        }
  }
  .item {
    padding: .5rem 0;
    //margin: 0 0 1.25rem 0;
    margin: 0 0 1rem 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
      font-size: 0;
    }
  }
  .name {
    color: #a7a0a2;
    font-weight: bold;
    text-align: left;
    margin: .5rem 0 0 0;
  }
  .distance {
    margin: .5rem 0 0 0;
  }
  .data {
    margin: .5rem 0 0 0;
  }
  .btn-evernote {
    text-align: right;
  }
  .brick-large-5 {
    &:last-child {
      text-align: right;
    }
  }

  .typcn-location {
    &:before {
      color:#20c05c;
      font-size: 1.35rem;
      text-shadow: 1px 1px 1px #222;
    }
    &:hover {
      &:before {
        color:#24d665;
      }
    }
  }

  .num-likes {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    .typcn-heart-full-outline:before {
      color: #a7a0a2;
       font-size: 1.35rem;
       height: auto;
       text-shadow: 1px 1px 1px #222;
    }
    .num {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .num-comments {
    margin-right: 2rem;
    display: inline-block;
    vertical-align: middle;
    .typcn-message {
      &:before {
        color: #a7a0a2;
         font-size: 1.35rem;
          height: auto;
          text-shadow: 1px 1px 1px #ddd;
      }
    }
    .num {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .btn-f {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    border-radius: 50%;
    border: 2px solid #3b5998;
    .typcn-social-facebook {
      &:before {
        color: #3b5998;
        font-size: 1.35rem;
         //height: auto;
         line-height: 1.2;
             width: 1.5rem;
      }
    }

  }
  .btn-ev {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    position: relative;
    background-image: url('../images/icons/evernote.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    /*&:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
  	  //@include icons-sprite(evernote);
  	  //width: icons-sprite-width(evernote);
  	  //height: icons-sprite-height(evernote);

    }*/
  }
}
.btn-f-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  //background: #3b5998;
  border: 2px solid #3b5998;
  border-radius: 5px;
  padding: .1rem .4rem .2rem;
  span {
    //color: #fff;
    color: #3b5998;
  }
  .typcn-social-facebook {
    &:before {
      //color: #fff;
      color: #3b5998;
      font-size: 1.35rem;
       //height: auto;
       line-height: 1.1;
          // width: 1.5rem;
    }
  }
}
.btn-f-share {
  display: inline-block;
  vertical-align: middle;
  background: #3b5998;
  border: 2px solid #3b5998;
  border-radius: 5px;
  padding: .1rem .4rem .2rem;
  span {
    color: #fff;
  }
  .typcn-social-facebook {
    &:before {
      color: #fff;
      font-size: 1.35rem;
       //height: auto;
       line-height: 1.1;
          // width: 1.5rem;
    }
  }
}
.btn-ev-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  //background: #3b5998;
  border: 2px solid #1fbc59;
  border-radius: 5px;
  padding: .1rem .4rem .2rem .4rem;
  position: relative;
  &:before {
    position: absolute;
    left: 3px;
    top: 1px;
    content: '';
	  @include icons-sprite(evernote-icon);
	  width: icons-sprite-width(evernote-icon);
	  height: icons-sprite-height(evernote-icon);
  }
  span {
    //color: #fff;
    color: #1fbc59;
    display: inline-block;
    vertical-align: middle;
    padding: 0 .4rem 0 30px;
  }

}
.btn-ev-share {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  //background: #3b5998;
  border: 2px solid #1fbc59;
  border-radius: 5px;
  padding: .1rem .4rem .2rem .4rem;
  position: relative;
  &:before {
    position: absolute;
    left: 3px;
    top: 1px;
    content: '';
	  @include icons-sprite(evernote-icon);
	  width: icons-sprite-width(evernote-icon);
	  height: icons-sprite-height(evernote-icon);
  }
  span {
    color: #1fbc59;
    display: inline-block;
    vertical-align: middle;
    padding: 0 .4rem 0 30px;
  }
}
.btn-evernote {
  background: none repeat scroll 0 0 #20c05c;
      border: 1px solid #1fbc59;
      color: white;

      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      text-align: center;

          border-radius: 5px;
          box-sizing: border-box;

          font-size: 16px;

          padding: 8px 12px;
          transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
          &:hover {
            background: none repeat scroll 0 0 #24d665;
                border-color: 1px solid #1fbc59;
                color: #fff;
          }
}

.goals {
  //background-image:-moz-linear-gradient(top,#f4f4f4 0%,#fff 50%, #f5f6f6 73%, #fff 100%);
  //background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(50%,#fff),color-stop(73%,#f5f6f6),color-stop(100%,#fff));
  //background-image:-webkit-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  //background-image:-o-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  //background-image:-ms-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  //background-image:linear-gradient(to bottom,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);

  padding: 1rem 0;
  //text-align: center;
  .typcn {
    &:before {
      font-size: 2rem;
      height: 2.2rem;
      text-shadow: 1px 1px 1px #222;
      //font-weight: bold;
      color: #a7a0a2;
    }
  }
  .brick-columns {
    padding: 0;
  }
  /*.typcn-location-outline  {
    &:before {
      color:#20c05c;

    }
  }
  .typcn-heart-outline {
    &:before {
      color: rgb(224, 57, 62);

    }
  }*/
  .title {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-size: 28px;
        font-weight: bold;
        color: #a7a0a2;
  }
  .icon-title {
    //margin: 0 0 1rem 0;
    display: inline-block;
    vertical-align: middle;
  }
  .desc {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 2rem 0 0;
    text-align: left;
  }
}

.project-description {
  text-align: center;
  .title {
    padding: .5rem 0 .5rem 0;
    font-size: 50px;
    line-height: 1.2;
        font-weight: 500;
    font-family: "AvenirHeavy";
    //text-transform: uppercase;
  }
  .desc {
     padding: 0 0 1rem 0;
     width: 80%;
    color: #a7a0a2;
        font-size: 20px;
        //font-weight: bold;
        line-height: 1.4;
  }
}

.strava {
  background: rgba(#ddd,.5);
  padding: 1.25rem 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  .text {
    display: inline-block;
    vertical-align: middle;
  }
  .btn-wrapper {
    display: inline-block;
    vertical-align: middle;
  }
  .btn-strava {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    background: #fc4c02;
    //box-shadow: 0 1px 0 rgba(0, 0, 0, 0.82);
    box-shadow: 0 0px 0px 10px rgba(#000, .2);
        //border: 2px solid #10bbf1;
        border-radius: 5px;
        box-sizing: border-box;
        color: white;
        font-size: 20px;

        padding: 13px 65px;
        transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
        &:hover {
          background: #fc4c02;

              color: #fff;
        }
        &:active {
          transform: translateY(3px);
        }
  }
}

.ribbon {
		padding: .5em 1em;
		position:relative;
		color: #ffffff;
		font-size: 32px;
		text-align: center;
		text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
		box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
					inset 0px 0px 20px rgba(0,0,0,0.1),
					0px 1px 1px rgba(0,0,0,0.4);
		 //background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
     background:#10bbf1;
      display:block;
      box-sizing: border-box;
      margin-left: -1rem;
          margin-right: -1rem;
	}

.ribbon:before,
.ribbon:after {
		content: "";
		width:.2em;
		bottom:-.5em;
		position:absolute;
		display:block;
		border: .9em solid #1eb2df;
		box-shadow:0px 1px 0px rgba(0,0,0,0.4);
		z-index:-2;
	}

/*.ribbon:before {
		left:-1.35em;
		border-right-width: .75em;
		border-left-color:transparent;
	}*/

.ribbon:after {
		right:-1.35em;
		border-left-width: .75em;
		border-right-color:transparent;
	}

.ribbon-content:before, .ribbon-content:after {
		content:"";
		bottom:-.5em;
		position:absolute;
		display:block;
		border-style:solid;
		border-color: #0675b3 transparent transparent transparent;
		z-index:-1;
	}

.ribbon-content:before {
	  left: 0;
	  border-width: .5em 0 0 .5em;
	}

.ribbon-content:after {
	  right: 0;
	  border-width: .5em .5em 0 0;
	}

.support-team {
  /*background-image:-moz-linear-gradient(top,#f4f4f4 0%,#fff 50%, #f5f6f6 73%, #fff 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(50%,#fff),color-stop(73%,#f5f6f6),color-stop(100%,#fff));
  background-image:-webkit-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  background-image:-o-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  background-image:-ms-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  background-image:linear-gradient(to bottom,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);*/

  //box-shadow:0 2px 5px rgba(0,0,0,.2);
  .title {
    color: #a7a0a2;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        position: relative;
        text-shadow: 0 0 1px white;
        margin: 0 0 .5rem 0;
  }
  .typcn-group {
    &:before {
      color: #10bbf1;
      font-size: 2rem;
          text-shadow: 1px 1px 1px #222222;
          height: auto;
              margin-right: 0.5rem;
    }
  }
  .brick-columns {
    padding: 0;
  }
  .item {
    padding: .5rem .5rem;
    //background: #ccc;

    background-image:-moz-linear-gradient(top,#f4f4f4 0%,#fff 50%, #f5f6f6 73%, #fff 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(50%,#fff),color-stop(73%,#f5f6f6),color-stop(100%,#fff));
    background-image:-webkit-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
    background-image:-o-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
    background-image:-ms-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
    background-image:linear-gradient(to bottom,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);


    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
      font-size: 0;
    }
    .brick-columns {
      padding: 0 0 1rem 0;
    }
  }
  .typcn-messages {
    &:before {
      font-size: 1.3rem;
      margin: 0 0 0 .2rem;
    }
  }
  .first-name {
      color: #10bbf1;
      font-weight: bold;
      padding: .5rem 0 0.1rem;
      font-size: 14px;
      text-align: center;
  }
  .comment-title {
    padding: .5rem 0 .5rem 0;
    font-weight: bold;
  }
  .comment-desc {
     font-size: 13px;
     color: #a7a0a2;
     line-height: 1.4;
     height: 73px;
     overflow: hidden;
  }
}

.support-team-photo {
  display: block;

   position: relative;
   width: 80px;
   height: 80px;
   box-sizing: border-box;
      border-radius: 50%;
      margin: auto;
  img {
       border-radius: 50%;
       display: inline-block;
       vertical-align: top;

  }
}
.support-team-photo .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //border-radius: 80/1.7;
  border-radius: 50%;
  //background: #10bbf1;
  transition: all .5s linear;
  border: 2px solid #222;
  backface-visibility: hidden;
   box-sizing: border-box;
}

.support-team-photo:hover .circle {
  border-color: transparent;
  //background: #fff;
  animation: hoorai cubic-bezier(.18, .14, .29, 1) 1s;
  animation-fill-mode: forwards;
  border-right-color: #222;
}


// Animation
@keyframes hoorai {
  0% {
    transform: rotate(-90deg);
    //opacity: 1.0;
  }
 50% {
    //opacity: 1.0;
  }
100% {
    transform: rotate(360deg);
    //opacity: 0.0;
  }
}

.hackzurich {
  margin: 2rem 0 0 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  //background:;
  .item {
    text-align: center;
  }
  .title {
    font-family: "AvenirHeavy";
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
  }
  span {
    display: block;
    font-size: 22px;
    //font-weight: 500;
    line-height: 1.2;
  }
}

.footer {
  border: 4px solid rgba(0, 0, 0, 0.55);
  //min-height: 88px;
  background: url('../upload/bg-footer.jpg') no-repeat scroll 50% 50% / cover #fff;
  //background: none repeat scroll 0 0 rgba(0, 0, 0, 0.55);
  .panel-box {
    padding: .5rem 1.25rem;
  }
  .item {
    text-align: right;
  }
  .photo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 1rem;
    img {
      width: 60px;
      height: 60px;
      border: 1px solid #a7a0a2;
          border-radius: 50%;
          display: inline-block;

          vertical-align: middle;
          margin: 0 5px 0 0;
    }
    .first-name {
      display: inline-block;
      vertical-align: middle;
      color: #ccc;
       border-bottom: 1px solid transparent;
       transition: all .2s linear;
       &:hover {
          border-bottom: 1px solid #ccc;
       }
    }
  }
}