django>=1.4.3
psycopg2

south

django-pagination
django_compressor
python-memcached

pillow
sorl-thumbnail


python-social-auth
geopy
Fiona

django-timedeltafield
stravalib
django-braces

-e git+https://github.com/pythonforfacebook/facebook-sdk.git#egg=facebook
