@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .btn-ev-link:before, .btn-ev-share:before {
  background: url('../images/icons-sbe19e205c8.png') no-repeat;
}

/* common -------------------------- */
@font-face {
  font-family: 'AvenirBook';
  src: url("../fonts/avenir/avenir-book.ttf") format("truetype"), url("../fonts/avenir/avenir-book.woff") format("woff"), url("../fonts/avenir/avenir-book.svg") format("svg"), url("../fonts/avenir/avenir-book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirRoman';
  src: url("../fonts/avenir/avenir-roman.ttf") format("truetype"), url("../fonts/avenir/avenir-roman.woff") format("woff"), url("../fonts/avenir/avenir-roman.svg") format("svg"), url("../fonts/avenir/avenir-roman.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url("../fonts/avenir/avenir-medium.ttf") format("truetype"), url("../fonts/avenir/avenir-medium.woff") format("woff"), url("../fonts/avenir/avenir-medium.svg") format("svg"), url("../fonts/avenir/avenir-medium.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url("../fonts/avenir/avenir-heavy.ttf") format("truetype"), url("../fonts/avenir/avenir-heavy.woff") format("woff"), url("../fonts/avenir/avenir-heavy.svg") format("svg"), url("../fonts/avenir/avenir-heavy.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  background: white;
}

body {
  height: 100%;
  font: 100 100%/120% "AvenirBook", Helvetica, Arial, sans-serif;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.main {
  min-height: 100%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  min-width: 320px;
}

a {
  color: black;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}
a:hover {
  color: #1a1a1a;
}
a:active {
  color: black;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.clear {
  clear: both;
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.clearfix:after,
.wrap:after,
.spanning:after,
.content:after,
.main:after,
aside:after,
section:after,
article:after,
.text:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.align-left {
  float: left !important;
}

.align-right {
  float: right !important;
}

.overflow-hidden {
  overflow: hidden;
  display: block;
}

.error {
  color: red !important;
  border-color: red !important;
}

.success {
  color: #00cc00 !important;
  border-color: #00cc00 !important;
}

.disabled {
  color: #999999 !important;
  border-color: #999999 !important;
  cursor: default !important;
}

.input-text,
.textarea {
  width: 100%;
  float: left;
  border: 2px solid #d8d8d8;
  background: white;
  height: 58px;
  padding: 10px 21px;
  font: 500 17px/34px "AvenirBook", Helvetica, Arial, sans-serif;
  -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input-text:focus,
.textarea:focus {
  border-color: #aeaeae;
}

.textarea {
  font-family: Helvetica, Arial, sans-serif;
}

/*.button {
    color: $white;
    background: $link;
    height: 58px;
    border: 2px solid $link;
    font: $f-medium 22px $fontCaption;
    padding: 0 21px;
    @include transition(color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear);
    @include border-radius(5px);
    @include sizing;
    &:hover {
        background: $linkHover;
        border-color: $linkHover;
    }
    &:active {
        background: $linkActive;
        border-color: $linkActive;
    }
}*/
a.button {
  text-decoration: none;
  display: inline-block;
  line-height: 54px;
  color: white;
}
a.button:hover {
  color: white;
}
a.button:active {
  color: white;
}
a.button.button-stripe {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: white;
}
a.button.button-stripe:hover {
  color: #222222;
  background-color: white;
  border-color: white;
}
a.button.button-stripe:active {
  color: #222222;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

::-webkit-input-placeholder {
  color: #222;
}

:-moz-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

:-ms-input-placeholder {
  color: #222;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Bricks (layout)
========================================================================== */
.brick-row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  max-width: 62.5rem;
  min-width: 320px;
}

.brick-row .brick-row {
  max-width: none;
  width: auto;
}

.brick-row:before,
.brick-row:after {
  content: " ";
  display: table;
}

.brick-row:after {
  clear: both;
}

.brick-columns {
  box-sizing: border-box;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.brick-columns:before {
  box-sizing: border-box;
}
.brick-columns:after {
  box-sizing: border-box;
}

.brick-columns {
  float: left;
  width: 100%;
}

.panel-box {
  padding: 1.25rem;
}

@media only screen {
  .brick-columns {
    float: left;
  }

  .brick-small-1 {
    width: 8.33333%;
  }

  .brick-small-2 {
    width: 16.66667%;
  }

  .brick-small-3 {
    width: 25%;
  }

  .brick-small-4 {
    width: 33.33333%;
  }

  .brick-small-5 {
    width: 41.66667%;
  }

  .brick-small-6 {
    width: 50%;
  }

  .brick-small-7 {
    width: 58.33333%;
  }

  .brick-small-8 {
    width: 66.66667%;
  }

  .brick-small-9 {
    width: 75%;
  }

  .brick-small-10 {
    width: 83.33333%;
  }

  .brick-small-11 {
    width: 91.66667%;
  }

  .brick-small-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 40.063em) {
  .brick-columns {
    float: left;
  }

  .brick-medium-1 {
    width: 8.33333%;
  }

  .brick-medium-2 {
    width: 16.66667%;
  }

  .brick-medium-3 {
    width: 25%;
  }

  .brick-medium-4 {
    width: 33.33333%;
  }

  .brick-medium-5 {
    width: 41.66667%;
  }

  .brick-medium-6 {
    width: 50%;
  }

  .brick-medium-7 {
    width: 58.33333%;
  }

  .brick-medium-8 {
    width: 66.66667%;
  }

  .brick-medium-9 {
    width: 75%;
  }

  .brick-medium-10 {
    width: 83.33333%;
  }

  .brick-medium-11 {
    width: 91.66667%;
  }

  .brick-medium-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 64.063em) {
  .brick-columns {
    float: left;
  }

  .brick-large-1 {
    width: 8.33333%;
  }

  .brick-large-2 {
    width: 16.66667%;
  }

  .brick-large-3 {
    width: 25%;
  }

  .brick-large-4 {
    width: 33.33333%;
  }

  .brick-large-5 {
    width: 41.66667%;
  }

  .brick-large-6 {
    width: 50%;
  }

  .brick-large-7 {
    width: 58.33333%;
  }

  .brick-large-8 {
    width: 66.66667%;
  }

  .brick-large-9 {
    width: 75%;
  }

  .brick-large-10 {
    width: 83.33333%;
  }

  .brick-large-11 {
    width: 91.66667%;
  }

  .brick-large-12 {
    width: 100%;
  }
}
.promo {
  background: url("../upload/nogibogi-3506-blur.jpg") no-repeat scroll 50% 50%/cover white;
  height: 485px;
  position: relative;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  text-align: left;
}
.promo .main-title {
  display: inline-block;
  vertical-align: top;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
  padding: 0 1rem 0 1rem;
  color: #fff;
  /*div {
    text-align: right;
  }*/
}
.promo .main-title span {
  text-transform: uppercase;
  font-family: 'AvenirHeavy';
}
.promo .main-title em {
  color: #3b5998;
  text-shadow: 0px 0px 2px white;
}
.promo .main-subtitle {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 56px;
  font-weight: 500;
  line-height: 60px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
  padding: 0 1rem 0 1rem;
}
.promo .main-subtitle span {
  text-transform: uppercase;
  font-family: 'AvenirHeavy';
}
.promo .sub-title {
  font-size: 24px;
  line-height: 36px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  display: inline-block;
  vertical-align: top;
  padding: 0.5rem 1rem;
}
.promo .title {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 24px;
  padding: 12px 0 0;
  display: inline-block;
  vertical-align: top;
  padding: 0.5rem 1rem 1rem;
  width: 70%;
}
.promo .btn-wrapper {
  padding: 3rem 0 0.5rem;
}
.promo .btn {
  padding: 10px 45px;
  transition: all 0.1s linear 0s;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.82);
  background: #3b5998;
  border: none;
}
.promo .btn:active {
  transform: translateY(3px);
}
.promo .btn:hover {
  background: #3b5998;
}
.promo .btn .typcn-social-facebook:before {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
}

.btn-facebook {
  background: #3b5998;
}
.btn-facebook:hover {
  background: #3b5998;
}

/*.first-name {
 color: #a7a0a2;
}
.second-name {
 color: #a7a0a2;
}*/
.main-form {
  background: #fff;
}
.main-form .field {
  margin: 0 0 1.25rem 0;
}

.profile-form .field {
  padding: 0 0 1.25rem 0;
}
.profile-form .label-field {
  text-align: center;
  margin: 0.5rem 0 0 0;
}
.profile-form .button-wrap .btn-save {
  width: 20%;
  display: block;
  margin: auto;
}

.level {
  text-align: center;
}

.slider-level-wrap {
  position: relative;
  padding: 1.25rem 0 2.5rem 0;
}
.slider-level-wrap .ui-slider-horizontal {
  height: 20px;
  border-radius: 5px;
  border: 1px solid #40c9f4;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
}
.slider-level-wrap .ui-widget-content {
  background: none repeat scroll 0 0 #40c9f4;
  background: -webkit-linear-gradient(left, white, #40c9f4);
  background: -moz-linear-gradient(left, #40c9f4, #10bbf1);
  background: linear-gradient(top, #ffffff, #40c9f4);
}
.slider-level-wrap .ui-state-default,
.slider-level-wrap .ui-widget-content .ui-state-default,
.slider-level-wrap .ui-widget-header .ui-state-default {
  background: #fff;
  border: 1px solid #40c9f4;
  box-shadow: inset 0 0 1px white, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}
.slider-level-wrap .ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.9em;
}
.slider-level-wrap .ui-slider .ui-slider-handle {
  height: 1.6em;
  width: 1.8em;
  border-radius: 5px;
}
.slider-level-wrap .ui-slider .ui-slider-handle:before {
  position: absolute;
  left: 43%;
  top: 13%;
  content: '';
  width: 1px;
  height: 70%;
  background: #ccc;
}
.slider-level-wrap .ui-slider .ui-slider-handle:after {
  position: absolute;
  left: 55%;
  top: 13%;
  content: '';
  width: 1px;
  height: 70%;
  background: #ccc;
}
.slider-level-wrap .steps {
  margin: 2rem 0 0 0;
  position: relative;
}
.slider-level-wrap .steps span {
  position: absolute;
  font-size: 12px;
  width: 5%;
  display: inline-block;
  vertical-align: top;
  margin-left: -2.5%;
  text-align: left;
  color: #a7a0a2;
  text-align: center;
}
.slider-level-wrap .steps span:before {
  position: absolute;
  left: 49%;
  top: -11px;
  content: '';
  width: 1px;
  height: 10px;
  background: #a7a0a2;
}
.slider-level-wrap .steps .step1 {
  left: 0;
}
.slider-level-wrap .steps .step2 {
  left: 16.6667%;
}
.slider-level-wrap .steps .step3 {
  left: 33.3333%;
}
.slider-level-wrap .steps .step4 {
  left: 50%;
}
.slider-level-wrap .steps .step5 {
  left: 66.6667%;
}
.slider-level-wrap .steps .step6 {
  left: 83.3333%;
}
.slider-level-wrap .steps .step7 {
  left: 100%;
}

.input-field {
  background: none repeat scroll 0 0 white;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 15px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
  width: 100%;
}
.input-field:focus {
  border-color: #aeaeae;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  background: none repeat scroll 0 0 #10bbf1;
  border: 2px solid #10bbf1;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
}
.btn:hover {
  background: none repeat scroll 0 0 #40c9f4;
  border-color: #40c9f4;
  color: #fff;
}

/*.btn-save {

}*/
.metrics .main-image {
  width: 100%;
  height: 280px;
  background: #fff;
  display: block;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.metrics .main-image img {
  margin: 1.25rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #a7a0a2;
  max-width: 160px;
}
.metrics .main-image .typcn-location {
  margin: 0 0.2rem 0 0;
}
.metrics .main-image .typcn-location:before {
  color: #20c05c;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #222222;
}
.metrics .main-image .typcn-location:hover:before {
  color: #24d665;
}
.metrics .first-name {
  padding: 0 0 0.5rem 0;
  font-weight: bold;
  color: #10bbf1;
}
.metrics .location {
  color: #a7a0a2;
}

.metrics-data {
  text-align: center;
}
.metrics-data .brick-row {
  padding: 1.25rem 0 0 0;
}
.metrics-data .brick-row .brick-large-8:last-child .brick-row {
  border-bottom: 0;
}
.metrics-data .brick-row .brick-large-8 .brick-row {
  padding: 0 0 2rem 0;
  border-bottom: 1px solid #cccccc;
}
.metrics-data .brick-row .brick-large-8 .brick-columns {
  margin: 1.25rem 0;
  border-right: 1px solid #cccccc;
}
.metrics-data .brick-row .brick-large-8 .brick-columns:last-child {
  border-right: 0;
}
.metrics-data .brick-row .brick-large-8 .brick-columns:nth-child(3n) {
  border-right: 0;
}
.metrics-data .data1 {
  font-size: 24px;
  font-weight: bold;
  padding: 0.5rem 0;
}
.metrics-data .data2 {
  font-size: 16px;
  color: #a7a0a2;
  padding: 0 0 0.5rem 0;
}

.health-point {
  padding: 3.5rem 0 1.25rem 0;
}
.health-point .typcn-heart-outline {
  display: inline-block;
  vertical-align: middle;
}
.health-point .typcn-heart-outline:before {
  color: #e0393e;
  font-size: 2rem;
  height: auto;
  text-shadow: 1px 1px 1px #222222;
}
.health-point .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}
.health-point .num {
  display: inline-block;
  vertical-align: middle;
  color: #a7a0a2;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.list-evernote .title {
  color: #a7a0a2;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 0px 0px 1px white;
  position: relative;
  padding-left: 1.8rem;
  padding-right: 0.9375rem;
  position: relative;
}
.list-evernote .title:before {
  position: absolute;
  content: '';
  left: 0;
  top: 7px;
  content: 0;
  border-top: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid rgba(0, 0, 0, 0);
  border-left: 18px solid #10bbf1;
  transform: scale(1.01, 1.01);
}
.list-evernote .item {
  padding: 0.5rem 0;
  margin: 0 0 1rem 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
.list-evernote .item:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.list-evernote .name {
  color: #a7a0a2;
  font-weight: bold;
  text-align: left;
  margin: 0.5rem 0 0 0;
}
.list-evernote .distance {
  margin: 0.5rem 0 0 0;
}
.list-evernote .data {
  margin: 0.5rem 0 0 0;
}
.list-evernote .btn-evernote {
  text-align: right;
}
.list-evernote .brick-large-5:last-child {
  text-align: right;
}
.list-evernote .typcn-location:before {
  color: #20c05c;
  font-size: 1.35rem;
  text-shadow: 1px 1px 1px #222222;
}
.list-evernote .typcn-location:hover:before {
  color: #24d665;
}
.list-evernote .num-likes {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
}
.list-evernote .num-likes .typcn-heart-full-outline:before {
  color: #a7a0a2;
  font-size: 1.35rem;
  height: auto;
  text-shadow: 1px 1px 1px #222222;
}
.list-evernote .num-likes .num {
  font-weight: bold;
  font-size: 18px;
}
.list-evernote .num-comments {
  margin-right: 2rem;
  display: inline-block;
  vertical-align: middle;
}
.list-evernote .num-comments .typcn-message:before {
  color: #a7a0a2;
  font-size: 1.35rem;
  height: auto;
  text-shadow: 1px 1px 1px #dddddd;
}
.list-evernote .num-comments .num {
  font-weight: bold;
  font-size: 18px;
}
.list-evernote .btn-f {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  border-radius: 50%;
  border: 2px solid #3b5998;
}
.list-evernote .btn-f .typcn-social-facebook:before {
  color: #3b5998;
  font-size: 1.35rem;
  line-height: 1.2;
  width: 1.5rem;
}
.list-evernote .btn-ev {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  position: relative;
  background-image: url("../images/icons/evernote.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
    /*&:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
  	  //@include icons-sprite(evernote);
  	  //width: icons-sprite-width(evernote);
  	  //height: icons-sprite-height(evernote);

    }*/
}

.btn-f-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  border: 2px solid #3b5998;
  border-radius: 5px;
  padding: 0.1rem 0.4rem 0.2rem;
}
.btn-f-link span {
  color: #3b5998;
}
.btn-f-link .typcn-social-facebook:before {
  color: #3b5998;
  font-size: 1.35rem;
  line-height: 1.1;
}

.btn-f-share {
  display: inline-block;
  vertical-align: middle;
  background: #3b5998;
  border: 2px solid #3b5998;
  border-radius: 5px;
  padding: 0.1rem 0.4rem 0.2rem;
}
.btn-f-share span {
  color: #fff;
}
.btn-f-share .typcn-social-facebook:before {
  color: #fff;
  font-size: 1.35rem;
  line-height: 1.1;
}

.btn-ev-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  border: 2px solid #1fbc59;
  border-radius: 5px;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
  position: relative;
}
.btn-ev-link:before {
  position: absolute;
  left: 3px;
  top: 1px;
  content: '';
  background-position: -83px -128px;
  width: 20px;
  height: 23px;
}
.btn-ev-link span {
  color: #1fbc59;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.4rem 0 30px;
}

.btn-ev-share {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  border: 2px solid #1fbc59;
  border-radius: 5px;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
  position: relative;
}
.btn-ev-share:before {
  position: absolute;
  left: 3px;
  top: 1px;
  content: '';
  background-position: -83px -128px;
  width: 20px;
  height: 23px;
}
.btn-ev-share span {
  color: #1fbc59;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.4rem 0 30px;
}

.btn-evernote {
  background: none repeat scroll 0 0 #20c05c;
  border: 1px solid #1fbc59;
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 8px 12px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
}
.btn-evernote:hover {
  background: none repeat scroll 0 0 #24d665;
  border-color: 1px solid #1fbc59;
  color: #fff;
}

.goals {
  padding: 1rem 0;
  text-align: center;
  /*.typcn-location-outline  {
    &:before {
      color:#20c05c;

    }
  }
  .typcn-heart-outline {
    &:before {
      color: rgb(224, 57, 62);

    }
  }*/
}
.goals .typcn:before {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #222222;
  color: #a7a0a2;
}
.goals .title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-size: 24px;
  font-weight: bold;
  color: #a7a0a2;
}
.goals .icon-title {
  display: inline-block;
  vertical-align: middle;
}
.goals .desc {
  font-size: 16px;
  line-height: 1.3;
  padding: 0 1rem 0 0;
  text-align: left;
}

.strava {
  background: rgba(221, 221, 221, 0.5);
  padding: 1.25rem 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.strava .text {
  display: inline-block;
  vertical-align: middle;
}
.strava .btn-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.strava .btn-strava {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  background: #fc4c02;
  box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  padding: 13px 65px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;
}
.strava .btn-strava:hover {
  background: #fc4c02;
  color: #fff;
}
.strava .btn-strava:active {
  transform: translateY(3px);
}

.ribbon {
  padding: 0.5em 1em;
  position: relative;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.4);
  background: #10bbf1;
  display: block;
  box-sizing: border-box;
  margin-left: -1rem;
  margin-right: -1rem;
}

.ribbon:before,
.ribbon:after {
  content: "";
  width: .2em;
  bottom: -.5em;
  position: absolute;
  display: block;
  border: 0.9em solid #1eb2df;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
  z-index: -2;
}

/*.ribbon:before {
		left:-1.35em;
		border-right-width: .75em;
		border-left-color:transparent;
	}*/
.ribbon:after {
  right: -1.35em;
  border-left-width: .75em;
  border-right-color: transparent;
}

.ribbon-content:before, .ribbon-content:after {
  content: "";
  bottom: -.5em;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #0675b3 transparent transparent transparent;
  z-index: -1;
}

.ribbon-content:before {
  left: 0;
  border-width: 0.5em 0 0 0.5em;
}

.ribbon-content:after {
  right: 0;
  border-width: 0.5em 0.5em 0 0;
}

.support-team {
  /*background-image:-moz-linear-gradient(top,#f4f4f4 0%,#fff 50%, #f5f6f6 73%, #fff 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(50%,#fff),color-stop(73%,#f5f6f6),color-stop(100%,#fff));
  background-image:-webkit-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  background-image:-o-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  background-image:-ms-linear-gradient(top,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);
  background-image:linear-gradient(to bottom,#f4f4f4 0%,#fff 50%,#f5f6f6 73%,#fff 100%);*/
}
.support-team .title {
  color: #a7a0a2;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  text-shadow: 0 0 1px white;
  margin: 0 0 0.5rem 0;
}
.support-team .typcn-group:before {
  color: #10bbf1;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #222222;
  height: auto;
  margin-right: 0.5rem;
}
.support-team .brick-columns {
  padding: 0;
}
.support-team .item {
  padding: 0.5rem 0.5rem;
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, white 50%, #f5f6f6 73%, white 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(50%, white), color-stop(73%, #f5f6f6), color-stop(100%, white));
  background-image: -webkit-linear-gradient(top, #f4f4f4 0%, white 50%, #f5f6f6 73%, white 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 0%, white 50%, #f5f6f6 73%, white 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 0%, white 50%, #f5f6f6 73%, white 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 0%, #ffffff 50%, #f5f6f6 73%, #ffffff 100%);
}
.support-team .item:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.support-team .item .brick-columns {
  padding: 0 0 1rem 0;
}
.support-team .typcn-messages:before {
  font-size: 1.3rem;
  margin-left: 0 0 0 0.2rem;
}
.support-team .first-name {
  color: #10bbf1;
  font-weight: bold;
  padding: 0.5rem 0 0.1rem;
  font-size: 14px;
  text-align: center;
}
.support-team .comment-title {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
}
.support-team .comment-desc {
  font-size: 13px;
  color: #a7a0a2;
  line-height: 1.4;
  height: 73px;
  overflow: hidden;
}
.support-team .comment-desc:after {
  content: "...";
}

.support-team-photo {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: auto;
}
.support-team-photo img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.support-team-photo .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.5s linear;
  border: 2px solid #222222;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.support-team-photo:hover .circle {
  border-color: transparent;
  animation: hoorai cubic-bezier(0.18, 0.14, 0.29, 1) 1s;
  animation-fill-mode: forwards;
  border-right-color: #222;
}

@keyframes hoorai {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
